# การวิเคราะห์ข้อมูล
ตัวอย่างของฟังก์ชัน Pandas ที่กล่าวถึงใน [บทเรียน](README.md)

In [1]:
import pandas as pd
import glob

#Loading the dataset
path = '../../data/emails.csv'
email_df = pd.read_csv(path)

In [2]:
# Using Describe on the email dataset
print(email_df.describe())

              the          to         ect         and         for          of  \
count  406.000000  406.000000  406.000000  406.000000  406.000000  406.000000
mean     7.022167    6.519704    4.948276    3.059113    3.502463    2.662562
std     10.945522    9.801907    9.293820    6.267806    4.901372    5.443939
min      0.000000    0.000000    1.000000    0.000000    0.000000    0.000000
25%      1.000000    1.000000    1.000000    0.000000    1.000000    0.000000
50%      3.000000    3.000000    2.000000    1.000000    2.000000    1.000000
75%      9.000000    7.750000    4.000000    3.000000    4.750000    3.000000
max     99.000000   88.000000   79.000000   69.000000   39.000000   57.000000

                a         you          in          on          is        this  \
count  406.000000  406.000000  406.000000  406.000000  406.000000  406.000000
mean    57.017241    2.394089   10.817734   11.591133    5.901478    1.485222
std     78.868243    4.067015   19.050972   16.407175    8.793103    2.912473
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%     15.000000    0.000000    1.250000    3.000000    1.000000    0.000000
50%     29.000000    1.000000    5.000000    6.000000    3.000000    0.000000
75%     61.000000    3.000000   12.000000   13.000000    7.000000    2.000000
max    843.000000   31.000000  223.000000  125.000000   61.000000   24.000000

                i          be        that        will
count  406.000000  406.000000  406.000000  406.000000
mean    47.155172    2.950739    1.034483    0.955665
std     71.043009    4.297865    1.904846    2.042271
min      0.000000    0.000000    0.000000    0.000000
25%     11.000000    1.000000    0.000000    0.000000
50%     24.000000    1.000000    0.000000    0.000000
75%     50.750000    3.000000    1.000000    1.000000
max    754.000000   40.000000   14.000000   24.000000

In [5]:
# Sampling 10 emails
print(email_df.sample(10))

      Email No.  the  to  ect  and  for  of    a  you  in  on  is  this    i  \
150   Email 151    0   1    2    0    3   0   15    0   0   5   0     0    7
380  Email 5147    0   3    2    0    0   0    7    0   1   1   0     0    3
19     Email 20    3   4   11    0    4   2   32    1   1   3   9     5   25
300   Email 301    2   1    1    0    1   1   15    2   2   3   2     0    8
307   Email 308    0   0    1    0    0   0    1    0   1   0   0     0    2
167   Email 168    2   2    2    1    5   1   24    2   5   6   4     0   30
320   Email 321   10  12    4    6    8   6  187    5  26  28  23     2  171
61     Email 62    0   1    1    0    4   1   15    4   4   3   3     0   19
26     Email 27    5   4    1    1    4   4   51    0   8   6   6     2   44
73     Email 74    0   0    1    0    0   0    7    0   4   3   0     0    6

     be  that  will
150   1     0     0
380   0     0     0
19    3     0     1
300   0     0     0
307   0     0     0
167   2     0     0
320   5     1     1
61    2     0     0
26    6     0     0
73    0     0     0

In [14]:
# Returns rows where there are more occurrences of "to" than "the"
print(email_df.query('the < to'))

      Email No.  the  to  ect  and  for  of    a  you  in  on  is  this   i  \
1       Email 2    8  13   24    6    6   2  102    1  18  21  13     0  61
3       Email 4    0   5   22    0    5   1   51    2   1   5   9     2  16
5       Email 6    4   5    1    4    2   3   45    1  16  12   8     1  52
7       Email 8    0   2    2    3    1   2   21    6   2   6   2     0  28
13     Email 14    4   5    7    1    5   1   37    1   8   8   6     1  43
..          ...  ...  ..  ...  ...  ...  ..  ...  ...  ..  ..  ..   ...  ..
390  Email 5157    4  13    1    0    3   1   48    2   8  26   9     1  45
393  Email 5160    2  13    1    0    2   1   38    2   7  24   6     1  34
396  Email 5163    2   3    1    2    1   2   32    0   7   3   2     0  26
404  Email 5171    2   7    1    0    2   1   28    2   8  11   7     1  39
405  Email 5172   22  24    5    1    6   5  148    8  23  13   5     4  99

     be  that  will
1     4     2     0
3     2     0     0
5     2     0     0
7     1     0     1
13    1     0     1
..   ..   ...   ...
390   1     0     0
393   1     0     0
396   3     0     0
404   1     0     0
405   6     4     1

[169 rows x 17 columns]


---

**ข้อจำกัดความรับผิดชอบ**:  
เอกสารนี้ได้รับการแปลโดยใช้บริการแปลภาษา AI [Co-op Translator](https://github.com/Azure/co-op-translator) แม้ว่าเราจะพยายามให้การแปลมีความถูกต้อง แต่โปรดทราบว่าการแปลอัตโนมัติอาจมีข้อผิดพลาดหรือความไม่แม่นยำ เอกสารต้นฉบับในภาษาต้นทางควรถือเป็นแหล่งข้อมูลที่เชื่อถือได้ สำหรับข้อมูลที่สำคัญ ขอแนะนำให้ใช้บริการแปลภาษามนุษย์มืออาชีพ เราจะไม่รับผิดชอบต่อความเข้าใจผิดหรือการตีความที่ผิดพลาดซึ่งเกิดจากการใช้การแปลนี้